* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 50px;   
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.wrap {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1170px;
}

$color1:#707070;
$color2:#FFC12D;
$color3:#C89210;
$color4:#2C3E50;
$color5:#B18009;
$color6:#CFD2D3;
$color7:#A7EC2F;
$color8:#7BC200;
$color9:#FEB1A4;
$color10:#F55C43;
$color11:#85EBFA;
$color12:#47B4F6;
$color13:#AACDF6;
$color14:#8781BD;
$color15:#A47503;
$color16:#558502;
$color17:#D52E13;
$color18:#0787D4;
$color19:#5B568E;

.notification {
    display: flex;
    position: relative;
    padding-right: 70px;
    padding-bottom: 34px;
    padding-left: 49px;
    border: 1px solid transparent;
    border-radius: 10px;

    &.solid {
        background: $color2;
    }

    &::before {
        content: '\f12a';
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border: 7px solid $color3;
        border-radius: 50%;
        background-color: $color2;
        color: $color15;
        font-family: 'FontAwesome';
        font-size: 24px;
        line-height: 26px;
        align-content: center;
        margin-right: 29px;
        margin-top: 42px;
    }

    &.positive{
        &.solid{
            background-color: $color7;
        }
        &::before{
            content:'\f00c';
            color:$color16;
            background-color: $color7;
            border:7px solid $color8;
        }
        a{
            &::before{
                color:$color16;
            }
        }
    }
    &.negative{
        &.solid{
            background-color: $color9;
        }
        &::before{
            content:'\f00d';
            color:$color17;
            background-color: $color9;
            border:7px solid $color10;
        }
        a{
            &::before{
                color:$color17;
            }
        }
    }
    &.flash{
        &.solid{
            background-color: $color11;
        }

        &::before{
            content:'\f0e7';
            color:$color18;
            background-color: $color11;
            border:7px solid $color12;
        }
        a{
            &::before{
                color:$color18;
            }
        }
    }
    &.info{
        grid-column: span 2;
        
        &.solid{
            background-color: $color13;
        }

        &::before{
            content:'\f129';
            color:$color19;
            background-color: $color13;
            border:7px solid $color14;
        }
        a{
            &::before{
                color:$color19;
            }
        }
    }


    div{
        margin-top: 34px;

        h1{
            font-family: 'Lato', sans-serif;
            font-size:14px;
            font-weight: 900;
            color:$color4;
            line-height: 26px;
            margin-bottom: 6px;
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }
        p{
            font-family: 'Lato', sans-serif;
            font-size:14px;
            color:$color4;
            line-height: 24px;
        }
    }
    a{
        &::before{
            content:'\f00d';
            display: inline-block;
            font-family: 'FontAwesome';
            color:$color5;
            font-size:14px;
            line-height: 24px;
            position: absolute;
            top: 12px;
            right: 18px;
            
        }
    }
}
