$color1:#707070;
$color2:#FFC12D;
$color3:#C89210;
$color4:#2C3E50;
$color5:#B18009;
$color6:#CFD2D3;
$color7:#A7EC2F;
$color8:#7BC200;
$color9:#FEB1A4;
$color10:#F55C43;
$color11:#85EBFA;
$color12:#47B4F6;
$color13:#AACDF6;
$color14:#8781BD;
$color15:#A47503;
$color16:#558502;
$color17:#D52E13;
$color18:#0787D4;
$color19:#5B568E;
